/*The header*/


header {
	padding-right: 16.66%;
	padding-left: 8.33%;
}


.myName {
	float: left;
	padding-left: 2%;
	padding-right: 2%;

}


nav {
	float: right;
	position: relative;
	top: 30px;
	color: #9da1ae;
	font-family: Arial;
}

a:link {
    text-decoration: none;
}

.space {
	margin-right: 10px;
	margin-left: 10px;
}
/*End the header*/



.folio {
	width: 100%;
}



/*The main body*/
main {
	clear: both;
	border-top: 3px solid #dddddd;
	background-image: url("../images/concrete.png");
	width: 100%;
}


article {
	float: left;
	background-color: white;
	width: 41.65%;
	margin-top: 35px;
	margin-bottom: 30px;

	margin-left: 8.33%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 25px;
	padding-bottom: 25px;	
}

aside {
	float: right;	
	background-color: white;
	width: 16.66%;
	margin-top: 35px;
	margin-bottom: 30px;
	margin-right: 16.66%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 25px;
	padding-bottom: 25px;
	
}

button {
	margin-left: 30px;
	height: 40px;
	width: 120px;
	border-style: none;
	font-family: "Arial";
	font-size: 12pt;
	margin-top: 10px;
	/*color: white;	
	background-color: #4aaaa5;
	text-align: center;*/
}

.picture {
	float: left;
	padding-right: 25px;
}

.bodyTitle {
	color: #4aaaa5;
	font-size: 24pt;
	padding-bottom: 25px;
	border-bottom: 3px solid #dddddd;
}

.inputFields {
	border-color: lightgray;
	width: 90%;
	margin-left: 0%;
	margin-right: 5%;
	border-style: solid;
	height: 30px;
	padding-left: 15px;
}

.messageFields {
	border-color: lightgray;
	width: 90%;
	margin-left: 0%;
	margin-right: 5%;
	border-style: solid;
	height: 120px;
	padding-left: 15px;	
}

#connectWithMe {
	font-size: 16pt;
	border-bottom: 1px solid #dddddd;		
}

.imageLabel {
	height: 40px;
	position: relative;
	bottom: 75px;
	width: 100%;
}

.maincontent {
	color: #777777;
	line-height: 24px;
	font-family: "Helvetica";

}

.image {
	height: auto;
	width: 31.66%;
}


.portfolioItems {
	padding-left: 0px;	
	float: left;
	margin-bottom: -50px;
	width: 48%;
	height: auto;
}

.portfolioItemsRight {
	padding-left: 0px;	
	float: right;
	margin-bottom: -50px;
	width: 48%;
	height: auto;
}



.formlabel {
	color: #777777;
	font-family: "Arial";
	line-height: 0px;
	font-size: 14pt;
	margin-left: 0%;

}



.textfields {
	border-color: lightgray;
	width: 90%;
	margin-left: 0%;
	margin-right: 5%;
	border-style: solid;
	padding-left: 15px;
}




/*End the main body*/


/*The footer*/
footer {
	clear: both;
	border-top: 10px solid #4aaaa5;
	background-color: grey;
	height: 90px;
	
}

.footerfont {
	color: rgb(204,200,191);
	font-family: Arial;
	font-size: 80%;
	line-height: 60px;
	text-align: center;
/*	border: 3px solid grey;
*/}


/*End the footer*/


/*Shared across different areas classes*/
.strongText {
	color: white;
	background-color: #4aaaa5;
	text-align: center;
}



/*Responsive design*/
@media screen and (max-width: 980px) {
	.picture {
		width: 100%;
		float: none;
	}
	
	.image {
		width: 31%
	}	

	#connectWithMe{
		font-size: 17px
	}

	.portfolioItemsRight {
		float: none;
		width: 100%
	}

	.portfolioItems {
		float: none;
		width: 100%
	}


}



@media screen and (max-width: 768px) {
	article {
		width: 75%;
		position: relative;
	}


	aside {
		clear: both;
		float: none;
		width: 75%;
		margin-left: 8.3333%;
		bottom: 10px;
	}

	.picture {
		float: left;
		width: 41.66%;
	}

	.image {
		width: 32.0%
	}	

	#connectWithMe{
		font-size: 24px
	}

	.portfolioItemsRight {
		float: right;
		width: 48%;
	}

	.portfolioItems {
		float: left;
		width: 48%;
	}


}


@media screen and (max-width: 640px) {
	.picture {
		width: 100%;
		float: none;
	}

	.myName {
		width: 100%;
		margin-left: 0;
		margin-right:0;
		height:80px;
		padding-top: 1px;
	}

	nav {
		float: none;
		clear: both;
		color: #9da1ae;
		font-family: Arial;
		height: 50px;
		padding-bottom: 20px;
		text-align: center;

	}

	header {
		padding-right: 0%;
		padding-left: 0%;
	}

	.space {
		margin-right: 10%;
		margin-left: 10%;
		color: white;
	}

	.portfolioItemsRight {
		float: none;
		width: 100%;
	}

	.portfolioItems {
		float: none;
		width: 100%;
	}


}


